<config>
    <modules>
        <Silex_CmsAttachment>
            <version>1.0.0</version>
        </Silex_CmsAttachment>
    </modules>

    <global>
        <blocks>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Block</class>
            </silex_cmsattachment>
        </blocks>
        <helpers>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Helper</class>
            </silex_cmsattachment>
        </helpers>
        <models>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Model</class>
            </silex_cmsattachment>
        </models>
        <events>
            <cms_page_delete_after>
                <observers>
                    <silex_cmsattachment>
                        <class>Silex_CmsAttachment_Model_Observer</class>
                        <method>deleteSavedPdfFile</method>
                    </silex_cmsattachment>
                </observers>
            </cms_page_delete_after>
            <cms_page_save_after>
                <observers>
                    <silex_cmsattachment>
                        <class>Silex_CmsAttachment_Model_Observer</class>
                        <method>deleteSavedPdfFile</method>
                    </silex_cmsattachment>
                </observers>
            </cms_page_save_after>
            <new_order_mail_before_send>
                <observers>
                    <silex_cmsattachment>
                        <class>Silex_CmsAttachment_Model_Observer</class>
                        <method>addPdfCmsPagesToMail</method>
                    </silex_cmsattachment>
                </observers>
            </new_order_mail_before_send>
        </events>
    </global>

    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Silex_CmsAttachment before="Mage_Cms">Silex_CmsAttachment</Silex_CmsAttachment>
                    </modules>
                </args>
            </cms>
        </routers>
        <layout>
            <updates>
                <ccl_cms>
                    <file>silex/cmsattachment.xml</file>
                </ccl_cms>
            </updates>
        </layout>
        <translate>
            <modules>
                <CCL_Cms>
                    <files>
                        <default>Silex_CmsAttachment.csv</default>
                    </files>
                </CCL_Cms>
            </modules>
        </translate>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Silex_CmsAttachment before="Mage_Adminhtml">Silex_CmsAttachment_Adminhtml</Silex_CmsAttachment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <CCL_Cms>
                    <files>
                        <default>Silex_CmsAttachment.csv</default>
                    </files>
                </CCL_Cms>
            </modules>
        </translate>
    </adminhtml>
</config>