<config>
    <modules>
        <Silex_CmsAttachment>
            <version>1.4.0</version>
        </Silex_CmsAttachment>
    </modules>
    <global>
        <blocks>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Block</class>
            </silex_cmsattachment>
        </blocks>
        <helpers>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Helper</class>
            </silex_cmsattachment>
        </helpers>
        <models>
            <silex_cmsattachment>
                <class>Silex_CmsAttachment_Model</class>
            </silex_cmsattachment>
        </models>
        <events>
            <cms_page_delete_after>
                <observers>
                    <silex_cmsattachment>
                        <class>silex_cmsattachment/observer</class>
                        <method>deleteSavedPdfFile</method>
                    </silex_cmsattachment>
                </observers>
            </cms_page_delete_after>
            <cms_page_save_after>
                <observers>
                    <silex_cmsattachment>
                        <class>silex_cmsattachment/observer</class>
                        <method>deleteSavedPdfFile</method>
                    </silex_cmsattachment>
                </observers>
            </cms_page_save_after>
            <transactional_mail_send_before>
                <observers>
                    <silex_cmsattachment>
                        <class>silex_cmsattachment/observer</class>
                        <method>addPdfCmsPagesToTransactionalMail</method>
                    </silex_cmsattachment>
                </observers>
            </transactional_mail_send_before>
        </events>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Silex_CmsAttachment before="Mage_Cms">Silex_CmsAttachment</Silex_CmsAttachment>
                    </modules>
                </args>
            </cms>
        </routers>
        <layout>
            <updates>
                <silex_cmsattachment>
                    <file>silex/cms_attachment.xml</file>
                </silex_cmsattachment>
            </updates>
        </layout>
        <translate>
            <modules>
                <Silex_CmsAttachment>
                    <files>
                        <default>Silex_CmsAttachment.csv</default>
                    </files>
                </Silex_CmsAttachment>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Silex_CmsAttachment before="Mage_Adminhtml">Silex_CmsAttachment_Adminhtml</Silex_CmsAttachment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <add_print_page_button>
                        <class>silex_cmsattachment/observer</class>
                        <method>addPrintPageButton</method>
                    </add_print_page_button>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <Silex_CmsAttachment>
                    <files>
                        <default>Silex_CmsAttachment.csv</default>
                    </files>
                </Silex_CmsAttachment>
            </modules>
        </translate>
    </adminhtml>
</config>
